<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
                <meta content="" name="description">
                    <meta content="" name="author">
                        <title>
                            UnicoLAB
                        </title>
                        <link rel="icon" href="/img/logo/logo.jpg" type="image/png">
                        <!-- Bootstrap core CSS -->
                        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
                            <!-- Custom fonts for this template -->
                            <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
                                <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
                                    <!-- Custom styles for this template -->
                                    <link href="stylesheets/about/about.css" rel="stylesheet">
                                    </link>
                                </link>
                            </link>
                        </link>
                    </meta>
                </meta>
            </meta>
        </meta>
    </head>
    <body>
        <h1 class="site-heading text-center text-white d-none d-lg-block">
            <span class="site-heading-upper text-primary mb-3">
                UnicoLAB
            </span>
            <span class="site-heading-lower">
                A platform for Research Collaboration
            </span>
        </h1>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">
                    UnicoLAB
                </a>
                <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarResponsive" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon">
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item active px-lg-4">
                            <a class="nav-link text-uppercase text-expanded" href="/">
                                Home
                            </a>
                        </li>
                        <li class="nav-item px-lg-4">
                            <a class="nav-link text-uppercase text-expanded" href="/about">
                                About
                                <span class="sr-only">
                                    (current)
                                </span>
                            </a>
                        </li>
                        <li class="nav-item px-lg-4">
                            <a class="nav-link text-uppercase text-expanded" href="/team">
                                Team
                            </a>
                        </li>
                        <li class="nav-item px-lg-4">
                            <a class="nav-link text-uppercase text-expanded" href="/register">
                                Join Us
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="page-section about-heading">
            <div class="container">
                <img alt="" class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/about/table.jpg">
                    <div class="about-heading-content">
                        <div class="row">
                            <div class="col-xl-9 col-lg-10 mx-auto">
                                <div class="bg-faded rounded p-5">
                                    <h2 class="section-heading mb-4">
                                        <span class="section-heading-upper">
                                            More Collaboration, Better Future
                                        </span>
                                        <span class="section-heading-lower">
                                            About Our Platform
                                        </span>
                                    </h2>
                                    <p>
                                        Founded in 2020 by a group of dynamic young researchers to be able to provide a platform to make research collaboration easier
                                    </p>
                                    <p class="mb-0">
                                        We guarantee that you will find suitable match for the research fields that you are working on and collaboration will lead to better research and novel solutions.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </img>
            </div>
        </section>
        <footer class="footer text-faded text-center py-5">
            <div class="container">
                <p class="m-0 small">
                    Copyright © UnicoLAB 2019
                </p>
            </div>
        </footer>
        <!-- Bootstrap core JavaScript -->
        <script crossorigin="anonymous" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" src="https://code.jquery.com/jquery-3.4.1.slim.min.js">
        </script>
        <script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js">
        </script>
        <script crossorigin="anonymous" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
        </script>
    </body>
</html>
