<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fill up your details</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    
    <link rel="stylesheet" href="stylesheets/dashboard/dashboard.css">
</head>
<body>

    <div class="main" >

        <div class="container" style="height: 200px; margin-top: 0px">
            <div class="columns" >
                <% for(var doc of docs){ %>
                        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem; ">
                            <div class="card-header" style="width: 100%; height: 500px;  overflow: hidden; text-overflow: ellipsis;  ">

                                <br>

                               <a href="/dashboard?category=<%=doc.category%>">
                                  <%=doc.category%> :   <%=doc.title%>
                                </a>
                            </div>
                            
                        <%}%>
            </div>
        </div>

    </div>

   
    <script src="./../vendor/jquery/jquery.min.js"></script>
    <script src="./../js/main.js"></script>
</body>
</html>