<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fill up your details</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    
    <link rel="stylesheet" href="stylesheets/dashboard/dashboard.css">
</head>
<body>

    <div class="main">

        <div class="container">
            <form method="POST" class="appointment-form" id="appointment-form" method="post" action="/details">
                <h2>EDIT YOUR DETAILS</h2>
                <div class="form-group-1">
                    <!-- <input type="text" name="name" id="name" placeholder="Your Name" required /> -->
                    <input type="text" name="phonenumber" id="phone_number" placeholder="Phone number" required />
                    <!-- <input type="email" name="email" id="email" placeholder="Email" required /> -->
                    <input type="text" name="organisation" id="institute_name" placeholder="Institute Name" required />
                    <input type="text" name="interest" id="interest" placeholder="Interest" required />
                    <input type="text" name="designation" id="designation" placeholder="Designation" required />
                    <input type="number" name="research_exp" id="exp" placeholder="Research Experience (in years)" required />
                    <input type="text" name="publications" id="publications" placeholder="Publications" required />
                    <input type="link" name="url" id="link" placeholder="Profile Link" required />
                 
                </div>
               
                <div class="form-submit">
                    <input type="submit" name="submit" id="submit" class="submit" value="Submit your details" />
                </div>
            </form>
        </div>

    </div>

   
    <script src="./../vendor/jquery/jquery.min.js"></script>
    <script src="./../js/main.js"></script>
</body>
</html>