<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
                <meta content="" name="description">
                    <meta content="" name="author">
                        <title>
                            UnicoLAB
                        </title>
                        <link rel="icon" href="/img/logo/logo.jpg" type="image/png">
                        <!-- Bootstrap core CSS -->
                        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
                            <!-- Custom fonts for this template -->
                            <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
                                <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
                                    <!-- Custom styles for this template -->
                                    <link href="stylesheets/home/home.css" rel="stylesheet">
                                    </link>
                                </link>
                            </link>
                        </link>
                    </meta>
                </meta>
            </meta>
        </meta>
    </head>
    <body>
        <h1 class="site-heading text-center text-white d-none d-lg-block">
            <span class="site-heading-upper text-primary mb-3">
                UnicoLAB
            </span>
            <span class="site-heading-lower">
                A platform for Research Collaboration
            </span>
        </h1>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="/">
                    UnicoLAB
                </a>
                <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarResponsive" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon">
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item active px-lg-4">
                            <a class="nav-link text-uppercase text-expanded" href="/">
                                Home
                                <span class="sr-only">
                                    (current)
                                </span>
                            </a>
                        </li>
                        <li class="nav-item px-lg-4">
                            <a class="nav-link text-uppercase text-expanded" href="/about">
                                About
                            </a>
                        </li>
                        <li class="nav-item px-lg-4">
                            <a class="nav-link text-uppercase text-expanded" href="/team">
                                Team
                            </a>
                        </li>
                        <li class="nav-item px-lg-4">
                            <a class="nav-link text-uppercase text-expanded" href="/register">
                                Join Us
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img alt="" class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/home/library.jpg">
                        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">
                                    COLLABORATE
                                </span>
                                <span class="section-heading-lower">
                                    For a Brighter Future
                               </span>
                            </h2>
                            <p class="mb-3">
                                Collaboration brings to the table a plethora of talent across various fields in Academia and helps in speeding up solutions. Collaboration among Indian Colleges for Research is going to be the foundation on which India will Prosper. Join Us to be a part of the revolution.
                            </p>
                            <div class="intro-button mx-auto">
                                <a class="btn btn-primary btn-xl" href="#">
                                    Join Us!!
                                </a>
                            </div>
                        </div>
                    </img>
                </div>
            </div>
        </section>
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">
                                    Our Dream
                                </span>
                                <span class="section-heading-lower">
                                    For You
                                </span>
                            </h2>
                            <p class="mb-0">
                                When you join us, you will get the opportunity to collaborate with the greatest minds in the fields of research that you want to pursue. You will meet people across various fields, get to know different approaches to solve problems, which will in a way help you in your growth and you will get a chance to contribute to the foundation on which INDIA will develop!!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer text-faded text-center py-5">
            <div class="container">
                <p class="m-0 small">
                    Copyright © UnicoLAB 2019
                </p>
            </div>
        </footer>
        <!-- Bootstrap core JavaScript -->
        <script crossorigin="anonymous" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" src="https://code.jquery.com/jquery-3.4.1.slim.min.js">
        </script>
        <script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js">
        </script>
        <script crossorigin="anonymous" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
        </script>
    </body>
</html>
